body {
 margin: 0;
 /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/landing-bg.jpg); */
 background-size: cover;
 background-repeat: no-repeat;
 overflow: scroll;
}

p {
 padding-top: 0 auto;
 text-align: center;
 font-size: 20px;
 font-family: 'Times New Roman', Times, serif;
}
/* 
hr {
  border-top: 2px dotted #d3a560;
  margin-top: 20px;
} */

h2 {
 text-align: center;
 font-size: 30px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: #d3a560;
}

li {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
  float: right;
  align-content: center;
  background-color: rgb(204, 203, 185);
  height: 30px;
  width: 70px;
  border-radius: 5px;
  color: rgb(85, 30, 30);
  cursor: pointer;
}
button:hover{
  background-color: rgba(95, 75, 4, 0.466);
  color: rgb(161, 54, 54);
 }

img {
  width: 100%;
  height: 360px;
  object-fit: fill;
  padding-top: 0 auto;
 }

 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 10px solid #dddddd;
  text-align: left;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* table#t01 {
  width: 100%;    
  background-color: #f1f1c1;
} */
.table_head th{
  background-color: rgba(95, 75, 4, 0.466);
  color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.vl {
  border-left: 2px solid #d3a560;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}

.hero {
 background-color: rgba(5, 4, 0, 0.466);
 overflow: hidden;
}

.hero a {
 float: right;
 display: block;
 color: rgb(230, 231, 209);
 text-align: center;
 padding: 14px 15px;
 text-decoration: none;
 font-size: 14px;
 cursor: pointer;
}

.hero a:hover {
 background-color: #ddd;
 color: black;
}

.active {
 background-color: rgba(233, 199, 50, 0.466);
 color: rgb(255, 255, 255);
}

.hero .icon {
 display: none;
}

/* Style the search box inside the navigation bar */
.hero input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 13px;
}

.hero .search-container {
  float: right;
  margin-right: 120px;
}

.hero .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 6px;
  margin-right: 3px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.hero .search-container button:hover {
  background: #ccc;
}

.dropdown_search{
  position: relative;
  margin-left: 100%;
  margin-top: 0;
  cursor: pointer;
}

.wp-box {
 background: rgb(253, 253, 253);
 border: 3px solid #E1E1E1;
 box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
 position: relative;
 display: inline-block;
 width: 28%;
 height: 50%;
 margin-top: 40px;
 margin-left: 57px;
 cursor: pointer;
 }
  
 .ads-box .inner {
  margin-left: 5px;
  height: 70px;
  padding: 15px;
  border-top: 0 none;
 }
 .ads-box .inner button {
   background-color: #ccc;
   align-content: center;
   justify-content: center;
   float: right;
   height: 34px;
   width: 80px;
   padding: 3px;
   border-radius: 5px;
   margin-top: 0;
   color: rgb(0, 0, 0);
   font-weight: 500;
   cursor: pointer;
 }
 .ads-box .view_mre button {
   background-color: #ccc;
   align-content: center;
   float: left;
   height: 34px;
   width: 80px;
   padding: 5px;
   border-radius: 5px;
   margin: 9 1px;
   color: rgb(0, 0, 0);
   font-weight: 500;
   cursor: pointer;
 }
 
 .wp-box p {
 font-size: 15px;
 font-family: 'Times New Roman', Times, serif;
 line-height: 0.8em;
 margin: 0;
 }

/* Modal Body */
.modal-body {padding: 2px 16px;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
 background-color: #fefefe;
 margin: 4% auto; /* 10% from the top and centered */
 padding: 10px;
 border: 1px solid #888;
 width: 30%; /* Could be more or less, depending on screen size */
 height: 70%;
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.col-25 {
 float: left;
 width: 15%;
 margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
 float: left;
 width: 60%;
 margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
 content: "";
 display: table;
 clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
 .col-25, .col-75, input[type=submit] {
   width: 100%;
   margin-top: 0;
 }
}


.page_footer {
  position: fixed;
  border-radius: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(5, 4, 0, 0.466);
  text-align: center;
  color: #f7e9e9;
  font-size: 20px;
 }